.speedDial{
    z-index: 1500;
    position: fixed;
    right: 2.6vmax;
    top: 10vmax;
}
.speedDialIcon{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

@media screen and (min-width: 992px) {
    .speedDial{
        right: 2.6vmax;
        top: 0.6vmax;
    }
  }
@media (min-width: 740px) and (max-width: 992px) {
    .speedDial{
        right: 2.5vmax;
        top: 8vmax;
    }
  }
@media (min-width: 600px) and (max-width: 740px) {
    .speedDial{
        right: 2.6vmax;
        top: 8vmax;
    }
  }